/node_modules
config.js
/.vscode

/hiddenJsonFiles

/jsonFiles/botMessages.json
/jsonFiles/customMessages.json
/jsonFiles/everyoneMessages.json
/jsonFiles/gifLinks.json
/jsonFiles/roleMessages.json
/jsonFiles/selfMessages.json
/jsonFiles/twilightBotMessages.json
/jsonFiles/userMessages.json
/jsonFiles/userReturnMessages.json

/textCommands/shutdown.js

/buttons/shutdown.js
