/node_modules
config.js
/.vscode

/commands/test.js
/commands/shutdown.js

/contextCommands/test.js

/slashCommands/test.js

/jsonFiles-AprilFools
/jsonFiles/authorSpecificMessages.json
/jsonFiles/gifLinks.json
